@import 'variables';

/* Switch */

.form-switch {
  padding: 0;
}

.form-switch .form-check-input:checked {
  border-color: white;
  background-color: $color-blue;
}

.form-switch .form-check-input {
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='1961C7'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='1961C7'/%3e%3c/svg%3e");
}

.form-switch .form-check-label {
  cursor: pointer;
}
