@import 'variables';

/* Main */

body.dark {
  background-color: $color-dark-background;
  transition: background-color $delay-dark ease-in-out;
}

body.dark .content {
  color: $color-dark-font;
  transition: color $delay-dark ease-in-out, background-color $delay-dark ease-in-out;
  h1 {
    color: $color-dark-title;
    transition: color $delay-dark ease-in-out;
  }
}

/* Sidebar */

body.dark #sidebar {
  color: $color-dark-font;
  background: $color-dark-background;
  transition: color $delay-dark ease-in-out, background-color $delay-dark ease-in-out, transform $delay-anim ease-in-out;
  .sidebar-header {
    .close button {
      color: $color-dark-title;
    }
  }
  .sidebar-content {
    h2,
    span.title {
      color: $color-dark-title;
    }
    span.attr {
      color: $color-orange;
    }
    .img-title {
      filter: invert(1);
    }
  }
}

/* Home */

body.dark .content#home {
  section.techno {
    .item-soft {
      img {
        padding: 5px;
        border-radius: 3px;
        background-color: #fafafa;
        transition: background-color $delay-dark ease-in-out;
      }
      &:hover {
        color: $color-font;
      }
    }
  }
  section.project {
    .carousel-item {
      background-color: #202135;
    }
  }
  section.blog {
    .post-content {
      border-color: #333555;
      background-color: #202135;
    }
  }
}

/* Curriculum */

body.dark .content#curriculum {
  $color-border-cv: #2d3052;
  section.cv {
    ul li {
      &:before {
        color: $color-dark-background;
        transition: color $delay-dark ease-in-out;
      }
      .details {
        border-color: $color-border-cv;
        transition: border-color $delay-dark ease-in-out, border-image $delay-dark ease-in-out;
        p {
          color: $color-dark-title;
          transition: color $delay-dark ease-in-out;
        }
      }
    }
    ul li:last-child {
      .details {
        border-image: linear-gradient(to bottom, $color-border-cv, rgba($color-border-cv, 0)) 1 100%;
      }
    }
  }
}

/* Source */

body.dark .content#source {
  section.project {
    color: $color-dark-font;
    border-color: #343556;
    transition: color $delay-dark ease-in-out, border-color $delay-dark ease-in-out;
    p {
      text-shadow: none;
    }
    .logo {
      display: none;
      &.dark {
        display: block;
      }
    }
    &.twig-request {
      background: $color-dark url('~@/assets/img/banner-twigrequest.jpg') no-repeat right center;
    }
    &.portfolio-vue {
      background: $color-dark url('~@/assets/img/banner-portfoliovue.jpg') no-repeat right center;
    }
    &.cookie-wall {
      background: $color-dark url('~@/assets/img/banner-cookiewall.jpg') no-repeat right center;
    }
    &.rwdkit {
      background: $color-dark url('~@/assets/img/banner-rwdkit.jpg') no-repeat right center;
    }
    &.twig-request,
    &.portfolio-vue,
    &.cookie-wall,
    &.rwdkit {
      background-blend-mode: multiply;
      transition: background $delay-dark ease-in-out;
    }
  }
}

/* Contact */

body.dark .content#contact {
  section.accordion {
    border-color: #343556;
    background-color: #202135;
    transition: color $delay-dark ease-in-out, background-color $delay-dark ease-in-out, border-color $delay-dark ease-in-out;
    > * {
      color: $color-dark-font;
    }
    .info-rgpd i {
      color: $color-dark-font;
    }
    .accordion-header .accordion-button {
      box-shadow: inset 0 -1px 0 #343556;
      transition: box-shadow $delay-dark ease-in-out;
    }
  }
  section.accordion.privacy {
    .row.data-list,
    .row.cookie-list {
      color: $color-dark-font;
      border-color: #343556;
      background-color: #202135;
      transition: color $delay-dark ease-in-out, background-color $delay-dark ease-in-out, border-color $delay-dark ease-in-out;
      & > div {
        background-color: transparent;
        transition: background-color $delay-dark ease-in-out,;
      }
      & > div:nth-child(odd) {
        background-color: #2b2d48;
      }
    }
  }
  section.accordion.mention {
    .img-title {
      filter: invert(1);
    }
  }
}

@media (min-width: 768px) {
  body.dark .content#contact {
    section.accordion.privacy {
      .row .row.data-list {
        & > div {
          background-color: transparent;
        }
        & > div:nth-child(1),
        & > div:nth-child(2),
        & > div:nth-child(5),
        & > div:nth-child(6),
        & > div:nth-child(9),
        & > div:nth-child(10),
        & > div:nth-child(13),
        & > div:nth-child(14) {
          background-color: #2b2d48;
        }
      }
    }
  }
}
