/* Global */

$delay-dark: 200ms;
$delay-anim: 400ms;

/* Colors */

$color-font: #181818;
$color-background: #f7f7f7;
$color-dark-font: #f7f7f7;
$color-dark-title: #d8d8dd;
$color-dark-background: #1e202e;

$color-gray: #656565;
$color-gray-hover: #4b4b4b;
$color-dark: #25274f;
$color-blue: #1961c7;
$color-blue-hover: #0f3c7a;
$color-red: #ee0d12;
$color-red-hover: #af070a;
$color-orange: #ec8f0e;
$color-orange-hover: #9f5f09;
