/* Global */

$delay-anim: 400ms;

/* Colors */

$color-gray: #656565;
$color-dark: #3a3a3a;
$color-blue: #1961c7;
$color-blue-hover: #0f3c7a;
$color-red: #ee0d12;
$color-red-hover: #af070a;
$color-orange: #ec8f0e;
$color-orange-hover: #9f5f09;